{{#if (equals @root.userInfo.id user.id)}}
<div id="ranking" style="border: 2px solid #b99f8d;" class="mt-4 mb-4 p-4">
    <div class="d-flex justify-content-between">
        <p>Review by: <b>{{user.username}}</b></p>
        <div class="d-flex">
            <p class="mx-4">{{comment_date}}</p>
            <img src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" width="15px" height="18px"
                data-reviewId="{{id}}" class="trash-can"></img>
        </div>
    </div>
    <p class="fw-bold mt-3">★{{score_given}}</p>
    <p class="mt-4">{{comment_description}}</p>
</div>
{{else}}
<div id="ranking" class="mt-4 mb-4 p-4">
    <div class="d-flex justify-content-between">
        <p>Review by: <b>{{user.username}}</b></p>
        <p>{{comment_date}}</p>
    </div>
    <p class="fw-bold mt-3">★{{score_given}}</p>
    <p class="mt-4">{{comment_description}}</p>
</div>
{{/if}}